{% extends 'blog/base.html' %}
{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
   			<h1><a href="/">Django Girls Blog</a></h1>
		</div>

        <div class="content container">
			<div class="row">
				<div class="col-md-10">
				
					{% block content %}
						{% for post in posts %}
						
							<div class="post">
								<div class="date">
									{{ post.published_date }}
								</div>
								<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
								
								{% if post.picture_URL %}
									<img src="{{ post.picture_URL }}" />
								{% endif %}
								
								<p>{{ post.text|linebreaks }}</p>
								<form method='get' action='#'>
									<input type="submit" value="Next" name="Next"/>
								</form>
								<p>present</p>
								<a class="btn btn-default" href="{% url 'button_clicked' %}"><span class="glyphicon glyphicon-check"></span></a>
								<a class="btn btn-default" href=><span class="glyphicon glyphicon-minus-sign"></span></a>
							</div>
						
						
						{% endfor %}
					{% endblock %}
				</div>
			</div>
		</div>
    </body>
</html>